@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-open);
  --font-title: var(--font-teko);
  --color-primary: #E03300;
  --color-primary-light: var(--color-orange-100);
  --color-light: var(--color-white);
  --color-dark: var(--color-zinc-950);
  --color-body: var(--color-zinc-600);
  --color-body-light: var(--color-zinc-300);
  --radius: var(--radius-md);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-teko);
}

button {
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed;
}

.btn-primary-white {
  background-color: var(--color-white);
  border: 1px solid var(--color-white);
  color: var(--color-primary);
  padding: 8px 12px;
  border-radius: 8px;
}

.btn-secondary-white {
  background-color: transparent;
  color: var(--color-light);
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid var(--color-light);
}

.btn-primary-black {
  background-color: var(--color-dark);
  border: 1px solid var(--color-dark);
  color: var(--color-light);
  padding: 8px 12px;
  border-radius: var(--radius);
}

.btn-secondary-black {
  background-color: transparent;
  border: 1px solid var(--color-dark);
  color: var(--color-dark);
  padding: 8px 12px;
  border-radius: var(--radius);
}

.btn-primary-orange {
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  color: var(--color-light);
  padding: 8px 12px;
  border-radius: var(--radius);
}

.btn-secondary-orange {
  background-color: transparent;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  padding: 8px 12px;
  border-radius: var(--radius);
}